body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
nav{
    background-color: powderblue;
    display: flex;
    justify-content: center;
}
nav h1{
    color: white;
    margin: 10px;
    font-size: 50px;
}
nav h2 {
    color: grey;
    margin-top: 38px;
    font-size: 20px;
}
p{
    margin: 5px;
    font-size: 20px;
}
div.luasKeliling{
    display: flex;
    align-items: center;
    justify-content: center;
}div.luasKeliling button{
    font-size: 30px;
    background-color: paleturquoise;
    border: none;
    border-radius: 8px;
    margin: 10px;
    color: white;
    cursor: pointer;
}
.gambarPersegi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.labelRumus{
    display: flex;
}
.rumus{
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.labelInput{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.InputSection{
    display: flex;
    flex-direction: column;
}
#input{
    outline: none;
    border-radius: 8px;
    border: solid paleturquoise;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
#input :focus-visible {
    border: solid palevioletred;
}
div.buttonHasil{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.buttonHasil button{
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
#btnLuas{
    background-color: palegreen;
}
#btnKeliling{
    background-color: palegoldenrod;
}
div.buttonReset{
    display: flex;
    align-items: end;
    justify-content: end;
}
div.buttonReset button{
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: palevioletred;
    border: solid palevioletred;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: red;
}